<div class="row">
  <form class="col s12">
    <div class="row">  
      ##formData##
    </div>
    <div class="row>
      <button class="btn-large waves-effect waves-light green" style="position:fixed;top:10%;right:24px;" type="button" ng-click="save(true)" name="action">{{ ##modelNameAs##.obj.id ? "Save" : "Create" }}
        <i class="material-icons right">save</i>
      </button>
    </div>
  </form>
</div>
