<div class="row">
  <div class="col s12" ng-hide="chart">
    ##recordEmbedMultipleView##
  </div>
  <div class="col s12" ng-show="chart">
    <canvas class="chart chart-line" chart-data="values" chart-labels="labels"></canvas> 
  </div>
</div>
